<h2> <%= @products.name %></h2>
  <% if @products.discounted? %>
    <h4 class="discount-item">Discounted Dragon!</h4>
  <% else %>
    <h4 class="Everyday-item">Everyday Value!</h4>
  <% end %>
  <p>Born in: <%= @products.supplier.name %></p>
  <p><%= number_to_currency(@products.price) %></p>
  <p><%= @products.element %></p>
  <p><%= @products.description %></p>
  <p><%= @products.sale_message %></p>
  <p>Tax:<%= number_to_currency(@products.tax) %></p>
  <p>Total:<%= number_to_currency(@products.total) %></p>
  <br>
  <img src= "<%= @products.images.first.url %>">
  <br>
  <a href="/dragons">Back to Home Page</a>
  <br>
   <a href="/dragons/<%= @products.id %>/edit">Edit This Dragon</a>
  <%= form_tag "/dragons/#{@products.id}", method: "delete" do %>
  <% end %>

  <%= form_tag "/carted_products", method: "post" do %>
  <div>
    Quantity: <input type="text" name="form_quantity" style="color: black">
  </div>
  <div>
    <input type="hidden" value="<%= @products.id %>" class="btn btn-default" name="form_product_id">
  </div>
  <input type="submit" class="btn btn-default" value="Add to Cart!">
  <% end %>
