<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dragons">Dragon's Cave</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/dragons/new">Breed Your Dragon<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Us and Dragon info <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Why Dragons?</a></li>
                <li><a href="#">Dragon and Human History</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Sky-Center:Home For The Dragons</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Where to Find Us</a></li>
              </ul>
            </li>
          </ul>
          <%= form_tag "/dragons_search", method: "get", class: "navbar-form navbar-left" do %>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="search_term">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/dragons?input_sort_attribute=price&input_sort_order=asc">Sort by price ascending</a></li>
                <li><a href="/dragons?input_only_discounted=true">Highest to Lowest</a></li>
                <li><a href="/dragons?input_sort_attribute=price&input_sort_order=desc">Sort by price descending</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
          <%= message.html_safe %>  
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>